<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnIncompleteTests="true"
         displayDetailsOnSkippedTests="true">

    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>

    <coverage includeUncoveredFiles="true">
        <report>
            <html outputDirectory="coverage/html"/>
            <clover outputFile="coverage/clover.xml"/>
        </report>
    </coverage>

    <testsuites>
        <testsuite name="Tests">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <ini name="display_errors" value="true"/>
    </php>
</phpunit>
